<html><head><link rel="stylesheet" type="text/css" href="styles/bootstrap.css" /><link rel="stylesheet" type="text/css" href="styles/style.css" /></head><body onload="window.print()">

<dl class="dl-horizontal">
  <dt>From:</dt>
  <dd><address>
  <strong>IPRC East</strong><br>
  1355 Market Street, Suite 900<br>
  San Francisco, CA 94103<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">first.last@example.com</a>
</address></dd>
</dl>

<dl class="dl-horizontal">
  <dt>To:</dt>
  <dd>Student</dd>
</dl>

</body></html>